* {
	margin: 0;
	padding: 0;
}

body {
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
}

#data {
	float: left;
}

#state {
	float: left;
}

span {
	font-size: 100% !important;
}

button.btn-primary {
	float: left;
}

button.btn-info {
	float: right;
}