* {
	margin: 0;
	padding: 0;
}

body {
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
}

#data {
	float: left;
}

#state {
	float: left;
}

@media (max-width: 768px) {
#state {
	margin-top: 50px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

}


span {
	font-size: 100% !important;
}

button.btn-primary {
	float: left;
}

button.btn-info {
	float: right;
}